[Unit]
Description=furnace0mainnorth program service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/furnace
ExecStart=/usr/bin/python3 /home/pi/furnace/furnace.py --dir /home/pi/furnace --name mainFurnace --index 0
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
